.density-select {
  position: relative;
  width: 100%;
}

.density-label {
  position: relative;
  bottom: 30px;

  /**/
  position: absolute;
  bottom: 30px;
  top: auto;
}

.density-label select, density-label select option {
  /*width: 3ch;*/
  font-size: 20px;
  text-align: center;
  font-family: broadacre-regular-0, normalidad-text, sans-serif;
}

.drop-down-option {
  font-size: 20px;
}

@media only screen and (min-width: 769px) {

  .density-label {

  }

  .density-label select {
    font-size: 20px;
  }
}
