.metric-select {
  position: relative;
  grid-area: metric;
}

.metric-label {
  position: relative;
  top: 12px;
}

.metric-label select, metric-label select option {
  width: 3ch;
  padding: 10px;
  font-size: 50px;
  text-align: center;
  font-family: broadacre-regular-0, normalidad-text, sans-serif;
}

.drop-down-option {
  font-size: 30px;
}

@media only screen and (min-width: 769px) {

  .metric-label {
    position: absolute;
    left: 10px;
    bottom: 30px;
    top: auto;
  }

  .metric-label select {
    font-size: 80px;
  }  
}