.value-select {
  position: relative;
}

.value-label {
  position: absolute;
  bottom: 30px;
  right: 10px;
}

.value-label input {
  width: 7ch;
  padding: 10px;
  font-size: 50px;
  text-align: right;
  font-family: normalidad-text, sans-serif;
}

@media only screen and (min-width: 800px) {
  .value-label input {
    font-size: 80px;
  }  
}