.conversion-node {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 180px;
}

.node-text {
    color: white;
    padding: 5px;
}

.node-metric {
    color: black;
}

.node-text h2 {
    font-size: 40px;
    font-weight: 200;
    padding: 2px;
}

.node-metric {
    border-bottom: 2px solid black;
}

@media only screen and (min-width: 769px) {

    .conversion-node {
        margin: 10px;
        width: 350px;
        height: 350px;
        border-radius: 50%;
    }


}