.notes{
    position: fixed;
    width: 100%;
    transition: transform 0.5s ease-out;
    transform: translateY(-100%);
    background-color: beige;
    background-image: url("../img/shutterstock_paper2.jpg");
    height: 80vh;
    z-index: 2;
}

.notes-open {
    transform: translateY(0%);
}

.notes-form {
    text-align: center;
    height: 100%;
}

.notes-label {
    display: block;
    padding: 30px;
    font-size: 40px;
    color: #cf2232;
}

#notes-field {
    width: 80%;
    height: 70%;
    font-size: 24px;
}

.notes-tab {
    /*
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    */
    position: absolute;
    background-color: beige;
    background-image: url("../img/shutterstock_paper2.jpg");
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    bottom: -60px;
    width: 300px;
    height: 200px;
    margin: 0px auto;
    border-radius: 30%;
}

.notes-tab h3 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.notes, .notes-tab {
    box-shadow: 0px 8px rgba(10, 10, 10, 0.8);
}

.notes-tab:hover {
    /*bottom: -32%;*/
    box-shadow: 0px 4px rgba(7, 7, 7, 0.9);
}